@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Instrument Sans", sans-serif;
  color: black;
}

section{
    background-color: antiquewhite;
    margin: 100px;
    padding: 50px;
}

div{
 margin: 5px;
}

.eventos-stile {
  background-color: coral;
}

ul {
      list-style-type: none;
}