@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Instrument Sans", sans-serif;
  color: black;
}

section{
  background-color: rgb(241, 241, 241);
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 50px;
}

div{
 margin: 5px;
}

.comentarios {
  margin-left: 100px;
  margin-right: 100px;
}

.eventos-stile {
  background-color: #D86363;
}

.div-nombre{
  width: 300px;
  font-weight: 400;
  color: rgb(241, 241, 241);;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #D86363;
}

.error-mensaje{
  background-color: #FFE29F;
  color: #d53232;
  font-weight: 500;

}

ul {
      list-style-type: none;
      padding: 20px;
}

button{
  margin: 10px;
  border-radius: 0;
  border-style: none;
  padding: 10px;
  background-color: #FFE29F;
}